.toolbar-button {
  background-color: hsl(from var(--h5p-theme-main-cta-base, #006FBF) h s l / 0.05);
  border: var(--border-size) solid var(--color-text-light); /* Same px value as used by Joubel in Interactive Book */
  border-radius: 3px; /* Same px value as used by Joubel in Interactive Book */
  font-size: var(--background-size, 1em);
  height: var(--button-size);
  padding: 0;
  width: var(--button-size);

  &:not(.toolbar-button-disabled) {
    &:hover {
      background-color: hsl(from var(--h5p-theme-main-cta-base, #006FBF) h s l / 0.1);
      cursor: pointer;
    }

    &:active {
      background-color: hsl(from var(--h5p-theme-main-cta-base, #006FBF) h s l / 0.25);
    }

    &:focus-visible {
      outline: 2px ridge var(--h5p-theme-contrast-cta-white, #006FBF);
    }

    &.toolbar-button-active {
      background-color: var(--h5p-theme-main-cta-base, #006FBF);
      background-position: center;
      background-repeat: no-repeat;
      background-size: var(--background-size) var(--background-size);
      opacity: 20;

      &:hover {
        background-color: hsl(from var(--h5p-theme-main-cta-base, #006FBF) h s l / 0.9);
        cursor: pointer;
      }

      &:active {
        background-color: hsl(from var(--h5p-theme-main-cta-base, #006FBF) h s l / 0.95);
      }
    }
  }

  &.toolbar-button-disabled {
    background-color: var(--color-background-disabled);

    &::before {
      color: var(--color-disabled);
    }
  }
}

.toolbar-button-display-none {
  display: none;
}

.toolbar-button-cloak {
  visibility: hidden;
  opacity: 0;
}
